DATABASE_URL=

# Microsoft Entra ID (Backend - Server-side only)
GRAPH_TENANT_ID=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=

# Microsoft Entra ID (Frontend - Public, visible in browser)
NEXT_PUBLIC_GRAPH_CLIENT_ID=
NEXT_PUBLIC_GRAPH_TENANT_ID=
