DATABASE_URL=

NEXT_PUBLIC_AZURE_AD_B2C_CLIENT_ID=
NEXT_PUBLIC_AZURE_AD_B2C_AUTHORITY=
NEXT_PUBLIC_AZURE_AD_B2C_TENANT_NAME=
NEXT_PUBLIC_AZURE_AD_B2C_PRIMARY_USER_FLOW=

AZURE_AD_B2C_CLIENT_SECRET=

GRAPH_TENANT_ID=
# Microsoft Graph
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=